<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TODOを編集</title>
</head>
<body>
    <h1>TODOを編集</h1>
    <form action="/api/todos/<%= @todo[0] %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="title" value="<%= @todo[1] %>" required>
        <button type="submit">更新</button>
    </form>
    <a href="/todos">戻る</a>
</body>
</html>
