<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TODOリスト</title>
</head>
<body>
    <h1>TODOリスト</h1>
    <ul>
        <% @todos.each do |todo| %>
            <li>
                <%= todo[1] %>
                <a href="/todos/<%= todo[0] %>/edit">編集</a>
                <form action="/api/todos/<%= todo[0] %>" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">削除</button>
                </form>
            </li>
        <% end %>
    </ul>
    <a href="/todos/new">新しいTODOを追加</a>
</body>
</html>
