<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOリスト</title>
</head>
<body>
    <h1>TODOリスト</h1>
    <ul>
        <% @todos.each do |todo| %>
            <li><%= todo[0] %></li>
        <% end %>
    </ul>
</body>
</html>
