<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOリスト</title>
</head>
  <body>
    <h1>TODOリスト</h1>

    <!-- TODO一覧の表示 -->
    <ul>
      <% @todos.each do |todo| %>
      <li><%= todo[0] %></li>
      <% end %>
    </ul>

    <!-- TODO作成フォーム -->
    <form action="/todos" method="POST">
      <input type="text" name="title" placeholder="新しいTODOを入力" required>
      <input type="submit" value="追加">
    </form>
  </body>
</html>
